.generateOverlayParent {
  position: absolute;
  top: 0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color: #2A1F13F2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headerText{
  background-image: linear-gradient(to bottom right, #BAA678, #E7E0DE);
  color: transparent;
  background-clip: text;
  line-height: 1.2;
  font-weight: bold;
  
}

.overlayManuallyText {
  color: #FFFFFFCC;
  text-decoration: underline;
  user-select: none;
  cursor: pointer;
}

.qnSheetName {

  background-image: linear-gradient(to bottom right, #BAA678, #E7E0DE);
  color: transparent;
  background-clip: text;
  line-height: 1.2;
  font-weight: bold;
}

.qnSheetLoadingIcon {
  color: #FFFFFF80;
}

.qnSheetLoadingText {
  color: #FFFFFF80;
}

.resultText {
  color: #FFFFFF80;
}
.resultNumber {
  color: #FFFFFFCC;
}
.unselected {
    color: rgba(255,255,255,0.45)
}
.activeButton {
  background-color: #5b4228;
}
.activeButton:hover {
  background-color: #4c3721;
  transition: all 100ms ease-in-out;
}