.exitParent {
  color: #E7E0D0CC;
  user-select: none;
}

.exitParent:hover {
  color: #E7E0D0;
}

.mainParent {
  height: 100vh;
}

.score {
  color: #E7E0D0CC;
}

.quizPage {
  width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
}

.quizNavigationBack {
  color: #EFE7D980;
}

.quizNavigationBack:hover {
  color: #EFE7D9;
}

.quizNavText {
  font-weight: bold;
  color: #EFE7D9;
}

.quizNavigationForward {
  color: #EFE7D980;
}

.quizNavigationForward:hover {
  color: #EFE7D9;
}


.quizPageParent {
  width: 100%;
  position: relative;
  display: inline-block;
}

.questionBoundary {
  border: 1px solid #67523d60;
  border-radius: 25px;
  position: absolute;
}