.exitParent {
  color: #E7E0D0CC;
  user-select: none;
}

.exitParent:hover {
  color: #E7E0D0;
}

.mainParent {
  height: 100vh;
}

.score {
  color: #E7E0D0CC;
}

.quizPage {
}

.quizNavigationBack {
  color: #EFE7D980;
}

.quizNavigationBack:hover {
  color: #EFE7D9;
}

.quizNavText {
  font-weight: bold;
  color: #EFE7D9;
}

.quizNavigationForward {
  color: #EFE7D980;
}

.quizNavigationForward:hover {
  color: #EFE7D9;
}
