.signInButton {
  padding: 15px 60px 15px 60px;
  border-radius: 15px;
  background-color: transparent;
  color: white;
  border-color: #D9D9D9;
  border-width: 1px;
  align-self: center;
}

.signInButton:hover {
  cursor: pointer;
  transition: 0.3s;
  background-color: rgba(0,0,0,0.3);
}