.populateButton {
  background-color: #543C26;
  display: block;
  width: 100%;
  align-items: flex-end;
  cursor: pointer;
}

.populateButton:hover {
  background-color: #382819;
}

.loadingParent {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #BAA678;
}

.populateButtonText {

  background-image: linear-gradient(to bottom right, #BAA678, #E7E0DE);
  color: transparent;
  background-clip: text;
  line-height: 1.2;
  user-select: none;
}
