.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #2A1F1340;
}

.fileInput {
  height: 100%;
  width: 100%;
  color: transparent;
  position: absolute;
}

.uploadIcon {
  width: 30%;
  color: #1E1C1B40;
}

.caption {
  position: absolute;
  bottom: 10;
  right: 10;
  user-select: none;
  color: #1E1C1B40;
}

.overlayContainerFileSuccess {
  box-shadow: 12px 12px 2px 1px rgba(18, 155, 34, 0.468);
}

.overlayContainerFileFail {
  box-shadow: 12px 12px 2px 1px rgba(132, 11, 11, 0.624);
}