.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #2A1F1340;
}

.overlay:hover {
  background-color: #2A1F1380;
}

.caption {
  position: absolute;
  bottom: 10;
  right: 10;
  user-select: none;
  color: #1E1C1B40;
}

.uploadIcon {
  width: 30%;
  color: #1E1C1B40;
}

.gradeButton {
  background-color: #2A1F13;

}

.gradeButton:hover {
  background-color: #1C150D;
}

.gradeButtonText {

  background-image: linear-gradient(to bottom right, #BAA678, #E7E0DE);
  color: transparent;
  background-clip: text;
  line-height: 1.2;
  user-select: none;
}