.iconContainer {
    display: flex;
    justify-content: end;
}
.iconContainer:hover {
    cursor: pointer;
}
.menuItem {
    display: flex;
    justify-content: end;
}
.menuItem:hover {
    cursor: pointer;
}
.menuItemText:hover {
    cursor: pointer;
    border-bottom: 1px solid #E7E0D0CC;
}